{# Make sure to avoid 4-spaces-deep (or deeper) indentation #}

{# The results get of Jinja expansion get fed into Markdown, which #}
{# may do undesired things with such deeply indented content. #}

{% macro youtube(id) -%}
  <iframe width="420" height="315" src="//www.youtube.com/embed/{{id}}" frameborder="0" allowfullscreen>
  </iframe>

  <div class="well" markdown="1">
    (This embedded video was brought to you by the `youtube` macro.
    See [this macro definition file](https://github.com/inducer/relate-sample/blob/master/macros.jinja)
    in the sample content repository for an example of how to do define macros.)
  </div>
{%- endmacro %}



{% macro collapsible(title, id="collapsery") -%}
<div class="panel panel-default" markdown="block"><div class="panel-heading" markdown="span">
  <h4 class="panel-title" markdown="span">
  <a data-toggle="collapse" href="#{{ id }}" markdown="span">
  {{ title }}
  <span style="font-size:x-small">(click to view)</span>
  </a>
  </h4>
  </div>

  <div id="{{ id }}" class="panel-collapse collapse" markdown="block">
   <div class="panel-body" markdown="block">
   {{ caller() }}
   </div>
  </div>
</div>
{%- endmacro %}

{% macro grace_rules(week) -%}
rules:
  start:
    -
      if_before: end_week {{ week }}
      if_has_role: [student, ta, instructor]
      if_has_fewer_sessions_than: 2
      may_start_new_session: True
      may_list_existing_sessions: True

    -
      may_start_new_session: False
      may_list_existing_sessions: True

  access:
     -
       if_before: end_week {{ week + 1}}
       permissions: [view, modify, see_correctness]

     -
       permissions: [view, modify, see_correctness, see_answer]

  grading:
    -
      if_completed_before: end_week {{ week }}
      grade_identifier: la_quiz
      grade_aggregation_strategy: max_grade
      credit_percent: 100

    -
      if_completed_before: end_week {{ week + 1 }}
      grade_identifier: la_quiz
      grade_aggregation_strategy: max_grade
      credit_percent: 50

    -
      grade_identifier: null
{%- endmacro %}
